.meetingName {
  --item-spacing: 0.2em;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.meetingName > div {
  max-width: calc(100vw - 2 * var(--body-margin) - var(--icon-button-size) - var(--item-spacing));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meetingName > * + * {
  margin-left: var(--item-spacing);
}

.editName {
  color: #000;
  background: transparent;
  opacity: 0.2;
}

.editName:hover,
.editName:focus {
  opacity: 1;
  background: rgb(var(--color-green-4));
  color: rgb(var(--color-green-1));
}
