.meetingStatus {
  display: flex;
  font-family: 'Fredoka One', sans-serif;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.meetingStatus div {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 50%;
}

.meetingStatus svg {
  height: 0.9em;
  width: auto;
}

@media only screen and (max-width: 640px) {
  .meetingStatus {
    font-size: 10vw;
  }
}
