.joinMeeting {
  display: flex;
}

.joinMeeting > form {
  background: rgb(var(--color-green-2));
  border-radius: 0.25em 0 0 0.25em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.joinMeeting > form > * + * {
  margin-top: 0.5em;
}

.joinMeeting > div {
  background: rgb(var(--color-green-2));
  border-radius: 0 0.25em 0.25em 0;
  margin: 0 0 0 0.5em;
  padding: 1em;
}

.joinMeetingSaved {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--color-green-2));
  border-radius: 0.25em;
  padding: 1em;
  width: 100%;
}

.joinMeetingSaved > * + * {
  margin-left: 0.5em;
}

@media only screen and (max-width: 720px) {
  .joinMeeting {
    flex-direction: column;
    align-items: center;
  }

  .joinMeeting > form {
    border-radius: 0.25em 0.25em 0 0;
    width: 100%;
  }

  .joinMeeting > div {
    border-radius: 0 0 0.25em 0.25em;
    margin: 0.5em 0 0 0;
  }
}
